# Ambiente Python
venv
.venv/
__pycache__/
*.pyc

# Arquivos temporários
*.log
*.tmp
*.bak

# Terraform
terraform.tfstate*
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info

# Arquivos do sistema
.DS_Store
Thumbs.db